<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" media="screen" href="/public/stylesheets/main.css">
    <meta charset="UTF-8">
    <title>ТехноДемо</title>
    <script src="https://use.fontawesome.com/58d308af1d.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
<nav class="navbar-inverse navbar-default fixed-top align-middle" role="navigation" draggable="true">
    <div class="container-fluid" >
        <!-- Название компании и кнопка, которая отображается для мобильных устройств группируются для лучшего отображения при свертывании -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-dark bg-dark navbar-nav navleft" width = 100% >
                <li class="align-middle "><a href="/transform" class="align-middle"  style="cursor: pointer; color: white;">Transform</a></li>
                <li class="align-text-bottom"><a  href="/soap" class="align-text-bottom"  style="cursor: pointer; color: white;">send SOAP</a></li>
                <li class="align-text-bottom"><a  href="/uuid" class="align-text-bottom"  style="cursor: pointer; color: white;">UUID</a></li>
                <li class="align-text-bottom"><a  href="/hash" class="align-text-bottom"  style="cursor: pointer; color: white;" >Hash</a></li>
            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="uuid" style="margin: 20px 0px 20px 20px; text-align:center; color: #333">
    <h5>Выберите любое действие tranform - преобразовать xml<br>Send soap - запустить в СМЕВ3 xml и получить ответ/тестовый файл можно найти в корне папки 1.xml</h5>
    <h5>uuid - получить актуальный uuid<br>hash вычислить base64 хеш ГОСТ3411/94 любого файла</h5>
</div>

</body>
</html>